@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.tempo {
    border: 1px solid red;
}

:root {
    --green: #00DD00;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container-one {
    z-index: -99;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(/assets/images/IMG_9780.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: white;
}

.section-one {
    min-height: 100vh;
    margin: 0 auto;
    padding-right: 6vw;
    padding-left: 6vw;
    padding-bottom: 6vw;
    padding-top: calc(70vmax / 5);
}

.container-one a {
    color: white;
    text-decoration: none;
}

.header {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 6vw;
    padding-right: 6vw;
}

.header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo * {
    min-width: 4vw;
    max-width: 6vw;
}

/* @media only screen and (max-width: 1118) {
	.logo * {
		border: 1px solid red;
		width: 40vw;
	}
}
*/
.header-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
}

/* links buttons */
.link {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 12px 15px 12px 15px;
    text-align: center;
}

.green-button {
    align-self: baseline;
    font-size: 1.1rem;
    background: var(--green);
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
}

.lg {
    font-size: 1.3rem;
    display: inline;
}

.btn-container {
    overflow-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    margin-top: 4vh;
}

.empowering-container>* {
    max-width: 40vw;
}

.empowering-text {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.empowering-text>h1 {
    font-weight: 400;
    line-height: 1.17;
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    margin: 2rem 0;
}

.empowering-text>p {
    line-height: 1.4;
    font-size: calc((1.6 - 1) * 1.2vh + 1.4rem);
}

/* section two styling */
.section-two {
    min-height: 33vh;
}


.content-list {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    padding-right: 7vw;
    padding-left: 7vw;
    justify-content: space-around;
    padding-top: 3.3vmax;
    padding-bottom: 3.3vmax;
}

.number {
    line-height: 1.4;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.number h1 {
    -webkit-text-size-adjust: 100%;
    overflow-wrap: break-word;
    line-height: 1.17;
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    margin: 2rem 0;
    color: var(--green);
    /* margin-top: 0;
	*/
    text-align: center;
    white-space: pre-wrap;
}

.number p strong {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
}

@media screen and (max-width: 480px) {
    .content-list {
        /* background-color: #00DD00; */
        flex-direction: column;

    }

    .number h1 {
        line-height: 1.17;
        font-size: calc((3.5 - 1) * 1.2vw + 1.4rem);
    }

    .number p strong {
        font-size: calc((1.6 - 1) * 1.4vw + 1.2rem);
    }

}


/* end of section two styling */
/* section three styling */
.section-three {
    -webkit-text-size-adjust: 100%;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    line-height: 1.4;
    display: flex;
    padding-right: 7vw;
    padding-left: 7vw;
    padding-top: calc(45vmax / 10);
}



.section-three .content-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


.section-three img {
    max-width: 45vw;
}

@media screen and (max-width: 480px) {
    .section-three .content-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
    }

    .section-three img {
        max-width: 90vw;
    }
}

.section-three h2 {
    font-weight: 400;
    line-height: 1.196;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    margin: 2rem 0;
    margin-top: 0;
}

.section-three p {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    padding-left: 5vw;
}

.section-three a {
    color: var(--green);
}

/* end of section three styling */
/* section four styling */
.section-four {
    margin-top: 8vh;
    -webkit-text-size-adjust: 100%;
    background-color: #25e200;
}


.section-four .content-wrapper {
    padding-top: 3.3vmax;
    padding-bottom: 3.3vmax;
}

.section-four h2 {
    font-weight: 400;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}


.card {
    padding: 30px 17px 17px 17px;
}

.card img {
    max-width: 27vw;
}

@media screen and (max-width: 480px) {
    .section-four h2 {
        font-weight: 400;
        font-size: calc((3 - 1) * 1.2vw + 1.7rem);
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .cards-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card img {
        max-width: 90vw;
    }


}

/* end of section four styling */
/* section five styling */
.section-five {
    -webkit-text-size-adjust: 100%;
    line-height: 1.4;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    padding-right: 7vw;
    padding-left: 7vw;
    padding-top: calc(60vmax / 10);
}

.section-five .content-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.section-five img {
    max-width: 45vw;
    margin-bottom: 4vh;
}

.section-five a {
    color: var(--green);
}

.section-five h2 {
    font-weight: 400;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
}

.section-five p {
    padding-left: 5vw;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    margin: 1rem;
}

@media screen and (max-width: 480px) {
    .section-five .content-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
    }

    .section-five img {
        max-width: 90vw;
    }

    .section-five h2 {
        font-weight: 400;
        font-size: calc((3 - 1) * 1.2vw + 1.6rem);
    }

    .section-five p {
        padding-left: 5vw;
        font-size: calc((1.6 - 1) * 1.2vw + 1.2rem);
        margin: 1rem;
    }

}

/* end of section five styling */
/* section six styling */
.section-six {
    padding-right: 14vw;
    padding-left: 14vw;
    padding-top: calc(55vmax / 10);
    padding-bottom: calc(20vmax / 10);
}

.section-six h4 {
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    font-size: calc((2 - 1) * 1.2vw + 1rem);
    text-align: center;
}

.section-six>div p {
    text-align: center;
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    line-height: 1.4;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    padding: 24px 17px 35px 17px;
}

.section-six img {
    /* border: 1px solid red;
	*/
    width: 100%;
}


@media screen and (max-width: 480px) {
    .section-six {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .section-six h4 {
        font-size: calc((2 - 1) * 1.2vw + 1.2rem);
    }

    .section-six>div p {
        line-height: 1.4;
        font-size: calc((1.3 - 1) * 1.2vw + 1rem);
        padding: 24px 17px 35px 17px;
    }

}

/* end of section six styling */
/* section seven styling */
.wassim {
    display: flex;
    justify-content: center;
    padding-top: calc(10vmax / 10);
    padding-bottom: calc(10vmax / 10);
}

.wassim img {
    max-width: 57vw;
    padding-bottom: 2vh;
}


@media screen and (max-width: 480px) {
    .wassim img {
        max-width: 90vw;
    }

}

/* end of section seven styling */
/* section eight styling */
.section-eight {
    background-color: #e6e6e6;
    padding-right: 6vw;
    padding-left: 6vw;
    text-align: center;
    padding-top: 3.3vmax;
    padding-bottom: 3.3vmax;
}

.section-eight .container {
    display: flex;
    justify-content: space-around;
}

.section-eight h3 {
    margin-top: 1vh;
    font-size: calc((2.5 - 1) * 1.2vw + 1.5rem);
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.section-eight img {
    margin: 0 auto;
    max-width: 20vw;
    padding-bottom: 8vh;
}


@media screen and (max-width: 480px) {
    .section-eight img {
        max-width: 80vw;
    }

    .section-eight .container {
        flex-direction: column;
        justify-content: space-around;
    }

    .section-eight h3 {
        font-size: calc((2.5 - 1) * 1.2vw + 1.5rem);
        padding-bottom: 4vh;
    }

}

/* end of section eight styling */
/* section nine styling */
.section-nine {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-right: 7vw;
    padding-left: 7vw;
    padding-top: 3.3vmax;
    padding-bottom: 3.3vmax;
}

.section-nine>div>img {
    padding-bottom: 8vh;
    min-width: 300px;
    max-width: 80vw
}


.section-nine h3 {
    margin-top: 3vh;
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
}

hr {
    margin-bottom: 5vh;
}

.section-nine .container {
    display: flex;
    /* flex-wrap: wrap; */
}

.section-nine .container * {
    padding: 0;
    margin: 0%;
}



.section-nine .container img {
    padding-top: 7vh;
    min-width: 300px;
    transform: scale(1.5);
    max-width: 35vw;
    padding-bottom: 2vh;
    /* margin: 0 auto; */
}


@media screen and (max-width: 480px) {
    .section-nine h3 {
        margin-top: 1vh;
        margin-bottom: 4vh;
        font-size: calc((2.5 - 1) * 1.2vw + 1.5rem);
    }

    .section-nine>div {
        margin: 0 auto;
        width: 100%;
    }

    .section-nine .container {
        flex-direction: column;
        align-items: center;
    }

    .section-nine .container {
        display: flex;
        /* flex-wrap: wrap; */
    }


    .section-nine>div>img {
        min-width: 100%;
    }

    .section-nine .container img {
        transform: scale(1.3);
        margin: 0vh auto;
    }
}


/* end of section nine styling */
/* section ten styling */
.section-ten {
    background-color: #e6e6e6;
    padding-top: 3vmax;
    padding-bottom: 4.3vmax;
}

.section-ten .container {
    text-align: center;
}

.section-ten h3 {
    font-weight: 400;
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    margin-bottom: 9vh;
    text-align: center;
    white-space: pre-wrap;
}

.section-ten button {
    background-color: #000;
    color: white;
}

/* end of section ten styling */
/* footer styling */
.footer {
    background-color: #000;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    color: #fff;
    display: flex;
    padding: 0 7vw;
    justify-content: space-between;
    padding-top: calc(30vmax / 10);
    padding-bottom: calc(30vmax / 10);
}

.pivacy {
    color: #18ea19;
}


.social {
    display: flex;
    justify-content: flex-end;
}

.social i {
    margin: 1vh;
    color: white;
}

.privacy a {
    color: var(--green);
}