@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.tempo {
    border: 1px solid red;
}

:root {
    --green: #00DD00;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.header {
    margin: 0;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 7vw;
    padding-right: 7vw;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1;
    position: relative;
    z-index: 2;
    pointer-events: auto;
    border: 1px solid blue;

}

.header-inner {
    width: 100%;
    margin: 0;
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo * {
    max-width: 100%;
    max-height: 80px;
}


.header-nav-wrapper {
    display: flex;
    align-content: center;
    justify-items: center;
    /* border: 1px solid red; */
    color: #000;
    line-height: 1;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
    margin-left: auto;
    padding-left: 2.2vw;

}

.header-nav-list {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
}

/* links buttons */
.link {
    padding: 10px 0px 10px 20px;
    text-align: center;
    /* border: blue 1px solid; */
}

.link a {
    color: #000;
    text-decoration: none;
}



.link:last-child>a {
    background: var(--green);
    padding: 10px 20px;
    border-radius: 5px;
}